@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  background: #0b0e1e;
  overflow-x: hidden !important;
}

body.noscroll {
  overflow-y: hidden !important;
}

.header {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 26px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header_logo {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }

  .nav_content {
    display: flex;
    align-items: center;
    gap: 30px;

    .navbar {
      display: flex;
      align-items: center;
      gap: 20px;
      .nav_item {
        color: #fff;
        font-weight: 500;
        transition: 0.4s;
      }
      .nav_item:hover {
        color: #cacaca;
      }
    }
  }
}

.hamburger_btn {
  background: transparent;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 9999999;

  i {
    margin-top: 7px;
  }
}

.hero_section {
  margin-top: 50px !important;
  padding-bottom: 200px !important;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 26px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .hero_title {
    color: #e4cbfa;
    font-size: 49px;
    font-weight: 600;
  }

  .hero_desc {
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    margin-top: 30px;
  }

  .hero_img {
    margin-top: 40px;
    border-radius: 20px;
    max-width: 900px;
    width: 100%;
  }
}

.container_one {
  margin-top: 20px !important;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 26px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;

  .title_cont_one {
    color: #fff;
    font-size: 39px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .desc {
    color: #fff;
    font-weight: 400;
    margin: 30px 0;
    line-height: 23px;
  }

  .list_box {
    list-style: none;
    padding: 24px 80px 24px 24px;
    background: #ffffff0d;
    border-radius: 4px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 14px;

    .main_text_cl {
      color: #8d3adb;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 4px;
    }

    .list_desc {
      color: #fff;
      font-weight: 500;
      font-size: 14px;
    }
  }
}

.intro_container {
  margin-top: 100px !important;
  padding-bottom: 100px !important;
  text-align: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 26px 32px;

  .intro_title {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .desc {
    color: #fff;
    font-weight: 400;
    margin: 30px 0;
    line-height: 23px;
  }
}

.download_sec {
  padding-bottom: 50px !important;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 26px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .down_title {
    color: #fff;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .dw_btn {
    color: #000;
    padding: 14px 32px;
    border-radius: 7px;
    background: #fff;
    font-weight: 600;
  }
}

.changelog_sec {
  margin-top: 100px !important;
  padding-bottom: 50px !important;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 26px 32px;
  color: #fff;

  .changelog_title {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
  }

  .desc {
    line-height: 23px;
    font-size: 18px;
  }

  .list_main_ch {
    margin-top: 40px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 40px;

    .list_desc {
      font-size: 18px;
    }
  }
}

.box_container_main {
  padding-bottom: 100px !important;
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  padding: 26px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;

  .bx_main {
    max-width: 300px;
    .box_title {
      border: 2px solid #fff;
      display: block;
      color: #fff;
      padding: 10px;
      text-align: center;
      border-radius: 6px;
    }

    .desc {
      color: #fff;
      margin-top: 20px;
    }
  }
}

.faq_cont {
  margin-top: 50px !important;
  padding-bottom: 100px !important;
}

.faq_title {
  text-align: center;
  color: #fff;
  font-size: 34px;
  font-weight: 700;
}

.accordion {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  padding: 26px 32px;
}

.accordion-header {
  color: #fff;
  padding: 20px;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 10px 20px;
  color: #c6c6c6;
  font-size: 13px;
}

.arrow {
  float: right;
  width: 10px;
  height: 10px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
  margin-top: 5px;
  margin-right: 10px;
}


.footer {
    padding: 32px 44px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.dw {
    border: 1px solid #fff;
    padding: 10px 24px;
    border-radius: 7px;
}

@media (max-width: 900px) {
  .container_one {
    margin-top: 20px !important;
    padding: 26px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 50px;

    .title_cont_one {
      text-align: center;
    }

    .desc {
      text-align: center;
    }
  }
}

@media (max-width: 700px) {
  .header {
    padding: 16px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav_content {
      .navbar {
        display: none;
        position: fixed;
        top: 0;
        right: -120%;
        bottom: 0;
        z-index: 9999;
        width: 100%;
        padding: 26px;
        display: flex;
        transition: 0.4s;
        align-items: start;
        gap: 20px;
        flex-direction: column;
        background: #ffffff00;
        backdrop-filter: blur(10px);
      }

      .navbar.open {
        right: 0;
      }
    }
  }

  .hamburger_btn {
    display: block;
  }

  .hero_section {
    padding-bottom: 100px !important;
    padding: 26px 22px;
    text-align: center;

    .hero_title {
      color: #e4cbfa;
      font-size: 42px;
      font-weight: 600;
    }

    .hero_desc {
      color: #fff;
      font-size: 19px;
      font-weight: 500;
      margin-top: 30px;
    }

    .hero_img {
      margin-top: 40px;
      border-radius: 10px;
      max-width: 900px;
      width: 100%;
    }
  }

  .intro_container {
    margin-top: 50px !important;
    padding-bottom: 100px !important;
    text-align: center;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 26px 22px;
  }

  .accordion {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    padding: 16px 0px;
  }
  
}
